.center-align {
  text-align: center;
}

.fab-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.rounded-circle {
  width: 55px;
  height: 55px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
